@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

body a {
    text-decoration: none;
}

#navbar {
    overflow: hidden;
    width: 100%;
}

#navbar nav {
    width: 100%;
    height: 80px;
    background: #0e1012;
}

.container {
    width: 1340px !important;
    margin: auto;
    padding: 0 15px;
}

.logo a {
    float: left;
    font-size: 30px;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 30px;
    line-height: 50px;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out; 
}

ul {
    float: right;
    padding-right: 10px;
    transition: all 0.5s ease-in-out;
}

ul li {
    display: inline-block;
    line-height: 80px;
}

ul li a {
    color: white;
    font-size: 20px;
    padding: 30px 10px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#toggleIcon {
    color: white;
    float: right;
    font-size: 30px;
    line-height: 69px;
    padding: 10px;
    display: none;
    cursor: pointer;
    margin-right: 40px;
}

@media (max-width: 1080px){
    .logo a {
        font-size: 25px;
    }
    ul {
        margin-right: 10px;
    }
    ul li a {
        font-size: 18px;
    }
}

@media (max-width: 909px) { 
    #toggleIcon {
        display: block;
        color: white;
        margin-right: 20px;
    }
    ul {
        position: fixed;
        top: 80px;
        left: -100%;
        height: 100vh;
        background: #110a13;
        text-align: center;
        transition: all .5s;
    }
    ul li {
        display: block;
        line-height: 30px;
        margin: px 0;
    }
    ul li a {
        font-size: 20px !important;
    }
    ul li a:hover {
        color: rgb(75, 75, 216);
        transition: 0.5s;
    }
    ul.show{
        left: 0;
    }
}

