@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

:root {
    --title-color: #131318;
    --title-font-weight: 800;
    --global-btn-background: #FF5400;
    --description-color: #5A5A5D;
    --description-font-size: 16px;
    --description-line-height: 26px;
    ---Dark-02: #424247;
    --white-01: #fff;

}

.container {
    width: 1170px;
    margin: 0 auto;

}

section {
    padding: 60px 0;
}

.description-text {
    color: var(--description-color);
    font-size: var(--description-font-size);
    line-height: var(--description-line-height);
}


.global-title {
    color: var(--title-color);
    font-size: 40px;
    font-weight: var(--title-font-weight);
}

.primary-btn,
#newsletter-submit {
    padding: 14px 35px;
    color: var(--white-01);
    font-size: 20px;
    font-weight: var(--title-font-weight);
    border-radius: 8px;
    background: #FF5400;
    border: none;
    outline: none;
}






/* header section style start here  */
#header {
    height: 100px;
    align-items: end;
}

.nav-bar,
.site-logo,
.nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    padding-top: 45px;
}

.site-logo .nav-title,
.footer-title {
    color: var(--title-color);
    font-size: 36px;
    font-weight: var(--title-font-weight);
}

.nav-span {
    color: #FF5400;
}

.logo-img {
    padding-right: 16px;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    color: var(---Dark-02);
    font-size: 18px;
    font-weight: 400;
    padding: 0 22px;

}

.nav-item .active {
    color: #FF5400;
    font-weight: 700;
}

.nav-item a:last-child {
    padding-right: 0;
}


.toggle-icon {
    color: #110a13;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

/* header section style end here  */




/* header section style start here  */

.banner-container {
    height: 75vh;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/banner-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-title {
    color: var(--white-01);
    font-size: 64px;
    font-weight: var(--title-font-weight);
    padding-top: 124px;
    margin-bottom: 25px;
}

.banner-des {
    color: var(--white-01);
    margin-bottom: 50px;
    padding: 0 16rem;
}

form {
    display: flex;
}
.tour-search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 900px;
    margin: auto;
    padding: 24px 15px;
}

input,
select {
    border: none;
    outline: none;
    color: rgba(19, 19, 24, 0.50);
    margin: 0 10px;
    padding: 20px 60px 22px 16px;
    background: var(--white-01);
    border-radius: 8px;
}

input[type="submit"] {
    margin-right: 0;
    color: var(--white-01) !important;
    background: #FF5400;
    color: var(--white-01);
    padding: 20px 40px 22px 40px;
    font-weight: 700;
}

input[type="time"] {
    margin-left: 0;
    padding: 20px 20px 20px 16px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

input[type="text"] {
    margin-left: 0;
}

select#select-type,
input[type="text"] {
    color: rgba(19, 19, 24, 0.50);
    font-size: var(--description-font-size);
    font-weight: 700;
}

input[type="text"]:first-child {
    padding-right: 5px;
}

.when-filed label {
    background: #fff;
    color: rgba(19, 19, 24, 0.50);
    font-weight: 700;
    padding: 19px 20px 21px 16px;
    margin-right: -15px;
    margin-left: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

input::placeholder,
select::placeholder,
input[type="submit"] {
    color: rgba(19, 19, 24, 0.50);
    font-size: var(--description-font-size);
}

/* header section style end here  */





/* Our Popular Tours section style start here  */

.popular-tours-container,
.perfects-place-container {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: space-between;
}

.tour-des {
    margin: 24px 0;
}


.tour-list li {
    margin-left: 20px;
    list-style-position: outside;
    margin-bottom: 16px;
    color: rgba(19, 19, 24, 0.70);
    line-height: var(--description-line-height);
}

.tour-btn {
    margin-top: 10px;
}


/* Our Popular Tours style end here  */



/* Your Destination style start here  */

.destination-container,
.choose-us-container,
.deals-discounts-container {
    text-align: center;
}

.destination-title,
.choose-us-title,
.deals-discounts-title {
    margin-bottom: 25px;
}

.destination-text,
.choose-us-text,
.deals-discounts-text {
    margin-bottom: 48px;
}

.image-1,
.image-2,
.image-3 {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
}

.destination-text,
.choose-us-text,
.deals-discounts-text {
    padding: 0 16rem;
}

.img-overlay {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 54;
    color: var(--white-01);
    text-align: center;
    font-size: 28px;
    font-weight: var(--title-font-weight);
}

/* Your Destination style end here  */



/* Sponsor style start here  */

.sponsor-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 35px;
}

.sponsor-container img {
    width: 165px;
}

/* Sponsor style start here  */


/* Why Choose Us style start here  */
.choose-us-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    text-align: start;
    margin-bottom: 24px;
}

.card-content {
    padding: 35px;
}

.card-content svg {
    margin-bottom: 32px;
}

.card-title {
    font-size: 24px;
    color: var(--title-color);
    font-weight: var(--title-font-weight);
    margin-bottom: 16px;
}

.card-text {
    color: var(--description-color);
    font-size: var(--description-font-size);
    line-height: var(--description-line-height);
}

.card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    margin: auto;
    text-align: start;
}

/* Why Choose Us style end here  */




/* Deals & Discounts style start here  */

.discounts-content {
    background: url(Images/Group\ 39.png) no-repeat center;
    background-size: cover;
    height: 500px;
    margin-bottom: 25px;
}

.second-card-content {
    background: url(Images/Group\ 40.png);
    background-size: cover;
    height: 500px;
}

.discounts-card {
    position: absolute;
    width: 580px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    margin: 58px 56px 58px 535px;
    text-align: start;
}

.second-card {
    margin: 56px 56px 58px 56px;
}

.date-line {
    display: flex;
    align-items: center;
}

.date-line p {
    padding-right: 24px;
    color: var(--description-color);
    font-size: var(--description-font-size);
    margin-bottom: 26px;
}

.date-line svg {
    padding-right: 8px;
    width: 30px;
    margin-bottom: -6px;
}

.discount-card-title,
.newsletter-title {
    color: var(--title-color);
    font-size: 24px;
    font-weight: var(--title-font-weight);
    margin-bottom: 16px;
}

.discount-card-text {
    color: #5A5A5D;
    margin-bottom: 16px;
}

.discount-price {
    color: #FF5400;
    font-size: 20px;
    font-weight: var(--title-font-weight);
    margin-bottom: 14px;
}

.discount-card-btn {
    padding: 14px 25px;
}

/* Deals & Discounts style end here  */




/* perfects place style start here  */

.place-list {
    color: var(--title-color);
    font-weight: 700;
}

/* perfects place style end here  */




/* newsletter style start here  */

.newsletter-container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

hr {
    margin: 24px 0;
    border: 0.1px solid rgba(19, 19, 24, 0.10);
}

.newsletter-content:first-child {
    padding: 35px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-form input {
    width: 100%;
    border-radius: 8px;
}

#newsletter-text,
#newsletter-email,
#newsletter-submit {
    background: rgba(19, 19, 24, 0.05);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 16px;
}

#newsletter-submit {
    background: #FF5400;
}

.newsletter-content {
    position: relative;
}

.overlay {
    position: absolute;
    top: 235px;
    left: 330px;
    transform: rotate(-14deg);
    padding: 30px 40px;
    color: var(--white-01);
    background: var(--global-btn-background);
    border-radius: 16px;
}



.overlay-title {
    color: var(--white-01);
    font-weight: 400;
    text-align: center;
}

.discount-saveup {
    font-size: 32px;
    font-weight: var(--title-font-weight);
    text-align: center;
}


/* newsletter style end here  */





/* footer style start here  */

#footer {
    background: rgba(19, 19, 24, 0.05);
}

.footer-content {
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.footer-text {
    width: 46%;
    margin: auto;
    padding-bottom: 32px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.social-icon a {
    color: #131318;
    font-size: 25px;
}

#footer-hr {
    margin: 50px 0 !important;
}

/* footer style end here  */





/* responsive for mobile screen  */

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    #header {
        height: 60px;
        align-items: center;
    }

    .nav-bar {
        flex-direction: column;
        gap: 15px;
        padding: 20px 0;
    }

    .banner-title {
        font-size: 22px;
        padding-top: 35px;
    }

    .banner-des,
    .destination-text,
    .choose-us-text,
    .deals-discounts-text {
        padding: 0 3rem;
    }

    .tour-search-box {
        width: 410px;
        padding: 24px 15px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 391px;
    }

    form input,
    select {
        margin-bottom: 16px;
    }

    .when-filed label {
        padding: 19px 179px 21px 15px;
    }

    input[type="text"]:first-child {
        margin: 10px 10px 16px 10px;
    }

    /* #select-type,
    input, label {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    } */
    .destination-content img,
    .newsletter-content img {
        width: 100%;
    }

    .popular-tours-container,
    .perfects-place-container,
    .image-1,
    .image-2,
    .image-3,
    .newsletter-container {
        flex-direction: column;
    }

    .choose-us-card,
    .date-line {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .date-line {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-3 {
        width: 100%;
    }

    .discounts-card {
        width: 320px;
        padding: 50px;
        margin: 50px;
    }

    /* sponsor section responsive  */

    .sponsor-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .sponsor-container img,
    .feature-img {
        max-width: 80%;
        text-align: center;
    }

}