@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"); * {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Mulish, sans-serif;
}

:root {
    --title-color: #131318;
    --title-font-weight: 800;
    --global-btn-background: #FF5400;
    --description-color: #5A5A5D;
    --description-font-size: 16px;
    --description-line-height: 26px;
    ---Dark-02: #424247;
    --white-01: #fff;
}

.container {
    width: 1170px;
    margin: 0px auto;
}

section {
    padding: 50px 0px;
}

.description-text {
    color: var(--description-color);
    font-size: var(--description-font-size);
    line-height: var(--description-line-height);
}

.global-title {
    color: var(--title-color);
    font-size: 40px;
    font-weight: var(--title-font-weight);
}

.primary-btn, #newsletter-submit {
    padding: 14px 35px;
    color: var(--white-01);
    font-size: 20px;
    font-weight: var(--title-font-weight);
    border-radius: 8px;
    background: rgb(255, 84, 0);
    border: none;
    outline: none;
}

#header {
    height: 100px;
    align-items: end;
}

.nav-bar, .site-logo, .nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    padding-top: 45px;
}

.site-logo .nav-title, .footer-title {
    color: var(--title-color);
    font-size: 36px;
    font-weight: var(--title-font-weight);
}

.nav-span {
    color: rgb(255, 84, 0);
}

.logo-img {
    padding-right: 16px;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    color: var(---Dark-02) !important;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 22px;
}

.nav-item .active {
    color: rgb(255, 84, 0);
    font-weight: 700;
}

.nav-item a:last-child {
    padding-right: 0px;
}

.toggle-icon, #check {
    color: rgb(17, 10, 19);
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}


.banner-container {
    height: 64vh;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%), url("Images/banner-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.banner-title {
    color: var(--white-01);
    font-size: 64px;
    font-weight: var(--title-font-weight);
    padding-top: 124px;
    margin-bottom: 25px;
}

.banner-des {
    color: var(--white-01);
    margin-bottom: 50px;
    padding: 0px 16rem;
}

.tour-search-form {
    display: flex;
}

.when-filed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tour-search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    width: 900px;
    margin: auto;
    padding: 24px 15px;
}

input, select {
    border: none;
    outline: none;
    color: rgba(19, 19, 24, 0.5);
    margin: 0px 10px;
    padding: 20px 60px 22px 16px;
    background: var(--white-01);
    border-radius: 8px;
}

input[type="submit"] {
    margin-right: 0px;
    background: rgb(255, 84, 0);
    padding: 20px 40px 22px;
    font-weight: 700;
    color: var(--white-01) !important;
}

input[type="time"] {
    margin-left: 0px;
    padding: 20px 20px 20px 16px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

input[type="text"] {
    margin-left: 0px;
}

select#select-type, input[type="text"] {
    color: rgba(19, 19, 24, 0.5);
    font-size: var(--description-font-size);
    font-weight: 700;
}

input[type="text"]:first-child {
    padding-right: 5px;
}

.when-filed label {
    background: rgb(255, 255, 255);
    color: rgba(19, 19, 24, 0.5);
    font-weight: 700;
    padding: 19px 20px 21px 16px;
    margin-right: -15px;
    margin-left: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

input::placeholder, select::placeholder, input[type="submit"] {
    color: rgba(19, 19, 24, 0.5);
    font-size: var(--description-font-size);
}

.popular-tours-container, .perfects-place-container {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: space-between;
}

.tour-des {
    margin: 24px 0px;
}

.tour-list li {
    margin-left: 20px;
    list-style-position: outside;
    margin-bottom: 16px;
    color: rgba(19, 19, 24, 0.7);
    line-height: var(--description-line-height);
}

.tour-btn {
    margin-top: 10px;
}

.destination-container, .choose-us-container, .deals-discounts-container {
    text-align: center;
    padding: 0 15px;
}

.destination-title, .choose-us-title, .deals-discounts-title {
    margin-bottom: 25px;
}

.destination-text, .choose-us-text, .deals-discounts-text {
    margin-bottom: 48px;
}

.image-1, .image-2, .image-3 {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
}

.destination-text, .choose-us-text, .deals-discounts-text {
    padding: 0px 16rem;
}

.img-overlay {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 54;
    color: var(--white-01);
    text-align: center;
    font-size: 28px;
    font-weight: var(--title-font-weight);
}

.sponsor-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 35px;
}

.sponsor-container img {
    width: 165px;
}

.choose-us-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    text-align: start;
    margin-bottom: 24px;
}

.card-content {
    padding: 35px;
}

.card-content svg {
    margin-bottom: 32px;
}

.card-title {
    font-size: 24px;
    color: var(--title-color);
    font-weight: var(--title-font-weight);
    margin-bottom: 16px;
}

.card-text {
    color: var(--description-color);
    font-size: var(--description-font-size);
    line-height: var(--description-line-height);
}

.card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    background: rgba(251, 181, 99, 0.05);
}

.card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.2);
    background: rgba(41, 206, 246, 0.05);
}

.card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.2);
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    margin: auto;
    text-align: start;
}

.discounts-content {
    background: url("Images/Group 39.png") center center / cover no-repeat;
    height: 500px;
    margin-bottom: 25px;
}

.second-card-content {
    background: url("Images/Group 40.png") 0% 0% / cover;
    height: 500px;
}

.discounts-card {
    position: absolute;
    width: 580px;
    border-radius: 16px;
    border: 2px solid rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    margin: 58px 56px 58px 535px;
    text-align: start;
}

.second-card {
    margin: 56px 56px 58px;
}

.date-line {
    display: flex;
    align-items: center;
}

.date-line p {
    padding-right: 24px;
    color: var(--description-color);
    font-size: var(--description-font-size);
    margin-bottom: 26px;
}

.date-line svg {
    padding-right: 8px;
    width: 30px;
    margin-bottom: -6px;
}

.discount-card-title, .newsletter-title {
    color: var(--title-color);
    font-size: 24px;
    font-weight: var(--title-font-weight);
    margin-bottom: 16px;
}

.discount-card-text {
    color: rgb(90, 90, 93);
    margin-bottom: 16px;
}

.discount-price {
    color: rgb(255, 84, 0);
    font-size: 20px;
    font-weight: var(--title-font-weight);
    margin-bottom: 14px;
}

.discount-card-btn {
    padding: 14px 25px;
}

.place-list {
    color: var(--title-color);
    font-weight: 700;
}

iframe {
    border-radius: 16px;
}

.newsletter-container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

hr {
    margin: 24px 0px;
    border: 0.1px solid rgba(19, 19, 24, 0.1);
}

.newsletter-content:first-child {
    padding: 35px;
    border-radius: 16px;
    border: 1px solid rgb(255, 84, 0);
}

.newsletter-form input {
    width: 100%;
    border-radius: 8px;
}

#newsletter-text, #newsletter-email, #newsletter-submit {
    background: rgba(19, 19, 24, 0.05);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 16px;
}

#newsletter-submit {
    background: rgb(255, 84, 0);
}

.newsletter-content {
    position: relative;
}

.overlay {
    position: absolute;
    top: 235px;
    left: 330px;
    transform: rotate(-14deg);
    padding: 30px 40px;
    color: var(--white-01);
    background: var(--global-btn-background);
    border-radius: 16px;
}

.overlay-title {
    color: var(--white-01);
    font-weight: 400;
    text-align: center;
}

.discount-saveup {
    font-size: 32px;
    font-weight: var(--title-font-weight);
    text-align: center;
}

#footer {
    background: rgba(19, 19, 24, 0.05);
}

.footer-content {
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.footer-text {
    width: 46%;
    margin: auto;
    padding-bottom: 32px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.social-icon a {
    color: rgb(19, 19, 24);
    font-size: 25px;
}

#footer-hr {
    margin: 50px 0px !important;
}













@media screen and (max-width: 576px) {
    section {
        padding: 25px 0px;
    }

    .container {
        max-width: 100%;
        padding: 0px 10px !important;
    }

    #header {
        height: 60px;
        align-items: center;
        position: relative;
    }

    .site-logo{
        display: flex;
        justify-content: start;
        padding-left: 20px;
    }

    .toggle-icon, #check{
        display: inline-flex;
        position: absolute;
        right: 30px;
    }
    #check{
        display: none;
        top: 33px;
        z-index: 1;
    }

    #check:checked~.toggle-icon #menu-icon {
        display: none
    }

    .toggle-icon #close-menu {
        display: none;
        transition: 0.3s ease;
    }

    #check:checked~.toggle-icon #close-menu {
        display: block
    }
    ul.nav-item li {
        margin: 12px 0;
    }
    .nav-item{
        display: none;
        position: absolute;
        top: 82px;
        left: 0;
        width: 100%;
        height: 0;
        text-align: center;
        background-color: #FF5400;
    }

    .nav-item li a {
        color: #fff !important;
    } 
    
    #check:checked~.nav-item {
        height: 12rem;
        display: block;
    }
    .nav-bar {
        flex-direction: column;
        gap: 15px;
        padding: 20px 0px;
        align-items: self-start;
        transition: 0.3s ease;
    }

    .banner-container {
        height: 85vh;
    }

    .banner-title {
        font-size: 22px;
        padding-top: 35px;
    }

    .banner-des, .destination-text, .choose-us-text, .deals-discounts-text {
        padding: 0px 3rem;
    }

    .tour-search-form {
        flex-direction: column;
    }

    .tour-search-box {
        width: 388px;
        padding: 24px 15px;
    }

    .newsletter-form {
        display: flex;
        flex-direction: column;
        width: 391px;
    }

    .when-filed {
        margin-bottom: 16px;
    }

    input[type="time"] {
        margin-bottom: 0px;
    }
    input[type="submit"] {
        width: 94%;
    }
    
    form input, select {
        margin-bottom: 16px;
    }

    .when-filed label {
        padding: 19px 156px 21px 15px;
    }

    input[type="text"]:first-child {
        margin: 10px 10px 16px;
    }

    .global-title {
        font-size: 20px;
    }

    .description-text, .card-text {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .discounts-content {
        height: 85vh;
        border-radius: 16px;
    }

    .discount-card-title, .newsletter-title, .card-title {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .destination-content img, .newsletter-content img {
        width: 100%;
    }

    .popular-tours-container, .perfects-place-container, .image-1, .image-2, .image-3, .newsletter-container {
        flex-direction: column;
    }

    .img-overlay img {
        height: 175px;
    }

    .overlay {
        top: 171px;
        left: 236px;
        right: 10px;
        padding: 24px 30px;
        border-radius: 16px;
    }

    .overlay-title {
        font-size: 15px;
    }

    .discount-saveup {
        font-size: 21px;
    }

    .choose-us-card, .date-line {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .date-line {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-3 {
        width: 100%;
    }

    .discounts-card {
        width: 320px;
        padding: 24px;
        margin: 180px 66px 22px 69px;
    }

    .card-content {
        padding: 25px;
        width: 96%;
    }

    .sponsor-container {
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .sponsor-container img, .feature-img {
        max-width: 90%;
        text-align: center;
    }

    .tours-content img {
        max-width: 100%;
    }

    iframe {
        max-width: 100%;
    }

    .newsletter-content:first-child {
        padding: 21px 15px;
        border-radius: 16px;
        border: 1px solid rgb(255, 84, 0);
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner-container {
        height: 85vh;
    }

    .toggle-icon{
        display: block;
    }

    .site-logo{
        display: flex;
        justify-content: start;
        padding-left: 20px;
        margin-top: 40px;
    }

    .toggle-icon, #check{
        display: inline-flex;
        position: absolute;
        right: -443px;
    }
    #check{
        display: none;
        top: 33px;
        z-index: 1;
    }

    #check:checked~.toggle-icon #menu-icon {
        display: none
    }

    .toggle-icon #close-menu {
        display: none;
    }

    #check:checked~.toggle-icon #close-menu {
        display: block
    }
    ul.nav-item li {
        margin: 17px 0;
    }
    .nav-item{
        display: none;
        position: absolute;
        top: 148px;
        left: 0px;
        right: 0;
        width: 173% !important;
        height: 0;
        text-align: center;
        background-color: #ff5400;
    }

    .nav-item li a {
        color: #fff !important;
        font-size: 26px;
    } 
    
    #check:checked~.nav-item {
        height: 17rem;
        display: block;
    }
    .nav-bar {
        flex-direction: column;
        gap: 15px;
        padding: 20px 0px;
        align-items: self-start;
        justify-content: end;
    }
}
